@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.drop-zone {
  border: 4px dashed #556477;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  margin: 10px auto;
  width: 600px;
  /* max-width: 600px; */
  height: 100px;
  background-color: #EEF1EF;
  transition: border-color 0.2s ease, color 0.2s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  }
  
  .drop-zone:hover {
    border-color: #266DD3; 
    color: #266DD3;
  }
  
  .uploading {
    color: #02C3BD;
  }
  
  .uploading-box {
    width: 200px; 
    height: 200px; 
    background-color: white; 
    border: 2px dashed #ddd; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    text-align: center;
    color: #208AAE;
    font-size: 16px;
  }
  
   .progress-bar-container {
    background-color: #f3f3f3;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    height: 8px;
    margin-top: 10px;
  }
  
  .progress-bar {
    background-color: #02C3BD;
    height: 100%;
    transition: width 0.2s;
  }
  