@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: black;
  color: white;
  padding: 20px;
  padding-left: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 900;
  font-style: normal;
  align-content: center;
  flex-wrap: nowrap;
}

.image-gallery {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  gap: 20px;
  width: fit-content;
}

.image-item {
  width: 350px; 
  height: 230px;
  border: 2px solid #000000;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 10px;
}

.image-item img {
  width: 100%;
  height: auto;
  display: block;
}

.background {
  background-color: #161E27;
}

.image-holder {
  display: flex;
  margin: inherit;
  width: 100%;
  justify-content: center;
}
